- name: sleep
  pause:
    seconds: 60

{% for i in range(repetition) %}
- name: run script
  shell: bash /root/flent/test.sh
  environment:
    type: "{% raw %}{{ type }}{% endraw %}"
    scenario: "{% raw %}{{ scenario }}{% endraw %}"
    ovnovs: "{% raw %}{{ ovnovs }}{% endraw %}"
    repetition: "{{ i }}"
    
- name: sleep
  pause:
    seconds: 20
{% endfor %}
  